@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: ghostwhite;
}

li {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.flex.justify-evenly.py-3.bg-white.rounded-xl.overflow-scroll::-webkit-scrollbar {
  display: none;
}

.flex.justify-evenly.py-3.bg-white.rounded-xl.overflow-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.cover-page{
  left: -100%;
}

.navbar {
  left: 0;
}